{% extends "layout.html" %}



{% block content %}

<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket;
    $(document).ready(function(){
        socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
        socket.on('connect', function() {
            socket.emit('joined', {});
        });
        socket.on('status', function(data) {
            $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
            $('#chat').scrollTop($('#chat')[0].scrollHeight);
        });
        socket.on('message', function(data) {
            $('#chatbox').val($('#chatbox').val() + data.msg + '\n');
            $('#chatbox').scrollBottom($('#chatbox')[0].scrollHeight);
        });
        $('#text').keypress(function(e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text});
            }
        });
    });
    function leave_room() {
        socket.emit('left', {}, function() {
            socket.disconnect();

            // go back to the login page
            window.location.href = "{{ url_for('main.index') }}";
        });
    }
</script>

<style>

tr.border_bottom td {
    border-bottom: 1pt solid black;
}

tr.border_top td {
  border-top:1pt solid black;
}

</style>
    <main>
        <div>
            <h3>Chat room - PAWK</h3>

            <table style="width:100%" name="chatbox" id="chatbox">

                {% for chat in chats %}

                <tr style="font-weight:bold">
                    <td>{{ chat.username }}</td>
                </tr>
                <tr class="border_bottom">
                    <td>{{ chat.content }}</td><td style="text-align:right">{{ chat.datetime }}</td>
                </tr>

                {% endfor %}

            </table>
        </div>
        <div>
            <form method="POST" action="/chat/send/{{ user }}" target="dummyframe">
                {{ form.hidden_tag() }}
                <tr class="border_top">
                    <td>{{ form.message.label }}</td><td style="text-align:right">{{ form.message }}</td><td>{{ form.submit(class="btn-primary") }}</td>
                </tr>

                <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" hidden></iframe>
            </form>
        </div>
    </main>

{% endblock %}